<?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', 'request');
    $form->setAttribute('method', 'post');
    $form->setAttribute('class', 'form-horizontal');

    $fields = array(
        'requestDate',
        'firstPayDate',
        'amount', 
        'nPayments',
        'interest'
    );

?>

<h2> Request new Account </h2>
<?php
    echo $this->form()->openTag($form);
    foreach($fields as $field) {
        echo $this->formRow($form->get($field));
    }
?>

<label>
    <label class="control-label"><strong>Pay Periods</strong></label>
    <select name="payPeriod">
        <option value="<?php echo \Account\Entity\Account::WEEKLY; ?>"><?php echo \Account\Entity\Account::WEEKLY; ?></option>
    </select>
</label>

<div class='form-actions'>
    <input type='hidden' name="clientId" value="<?php echo $this->clientId; ?>" />
    <input type='hidden' name="nPaid" value="0" />
    <input type='hidden' name="status" value="<?php echo \Account\Entity\Account::PENDING; ?>" />
    <button type='submit' name="requestAccountSubmit" value="submit" class='btn btn-primary'> Submit Request </button>
</div> 
<?php
    echo $this->form()->closeTag($form);
?>

<script>
$("label span").each(function() {
    var $this = $(this);
    $this.replaceWith($("<label class='control-label'><strong>" + $this.html() + "</strong></label>"));
});

$("div label").each(function() {
    var $this = $(this);
    $this.replaceWith($("<div class='control-group'>" + $this.html() + "</div>"));
});

$('input').wrap('<div class="controls" />');
$('select').wrap('<div class="controls" />');

$('input[name="firstPayDate"]').datepicker({ 
    dateFormat: 'yy-mm-dd' , 
    minDate: 0,
    beforeShowDay: function(date) {
        var day = date.getDay();
        return [(day != 0 && day != 6), ''];
    }
});

$('input[name="requestDate"]').datepicker({ 
    dateFormat: 'yy-mm-dd' , 
    minDate: 0,
    beforeShowDay: function(date) {
        var day = date.getDay();
        return [(day != 0 && day != 6), ''];
    }
});
</script>